// It's highly recommended to change the default colors
// to match your app's branding.

$primary: linear-gradient(45deg, #475ac8, #b659bb);
$secondary: #475ac8;
$accent: #b659bb;

$dark: #1d1d1d;

$positive: #21ba45;
// $negative: #c10015;
$negative: #eb2e94;
$info: #31ccec;
$warning: #f2c037;

@import "~quasar-variables-styl";
